body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #3041ff;
  color: rgb(0, 0, 0);
  font-size: 14px; /* Força a mesma fonte que as outras telas */
  text-align: center;

   background-image: linear-gradient(rgba(0, 119, 255, 0.6), rgba(0,0,0,0.6)),
   url("fundoplayer.png");
  background-size: cover;       /* cobre toda tela */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat; /* não repete */
  background-attachment: fixed; /* efeito bonito */
}


.container{
  max-width: 800px;
  margin: 90px auto 0 auto; /* garante que o conteúdo comece abaixo do menu */
  padding: 30px 20px; /* padding interno normal */
}

.card{
background:rgba(0, 0, 0, 0.885);
padding:30px;
border-radius:15px;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
border-radius:10px;
border:none;
margin-bottom:10px;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:rgb(255, 247, 0);
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px;
background:rgba(30,30,50,0.9);
margin-bottom:10px;
border-radius:12px;
color:#ffffff;
transition:0.3s;
}

li:hover{
transform:scale(1.03);
background:linear-gradient(#ffff00);
color:rgb(0, 0, 0);
}

.excluir{
background:red;
color:white;
border:none;
padding:5px 10px;
border-radius:6px;
}

.menu-logo img {
  height: 50px; /* ajusta a altura da logo */
  width: auto;
}