body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  padding-top: 70px; /* espaço pro menu */
}


.container-principal {
  margin-top: 80px;
}

/* SLIDER */
.slider {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: 100px auto 30px;
  overflow: hidden;
  border-radius: 12px;
}

/* CONTAINER */
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* slide texto*/
.slide-texto{
  flex: 0 0 100%;
  width: 100%;
  box-sizing: border-box;
  background: #1e293b;
  color: white;
  padding: 35px 25px;
  border-radius: 12px;
  text-align: center;
}

.slide-texto h2{
  color: #38bdf8;
  margin-bottom: 15px;
}

.slide-texto p{
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.5;
}

/* BOTÕES */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
}

/* POSIÇÃO BOTÕES */
.prev {
  left: 5px;
}

.next {
  right: 5px;
}

/* VOLTAR */
.voltar {
  display: block;
  text-align: center;
  margin: 20px auto;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* 📱 MOBILE */
@media (max-width: 768px) {

  .slider {
    width: 95%;
    margin: 80px auto 20px;
  }

  button {
    font-size: 16px;
    padding: 8px;
  }

  .voltar {
    font-size: 13px;
  }
}

.extra-conteudo{
  width: 90%;
  max-width: 700px;
  margin: 20px auto 50px;
}

.info-box{
  background: #1e293b;
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.info-box h2{
  margin-top: 0;
  color: #38bdf8;
}

.cards-info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.mini-card{
  background: #334155;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px){
  .cards-info{
    grid-template-columns: 1fr;
  }
}

